<!DOCTYPE html>
<html>
    <head>
        <title>
            Index
        </title>
    </head>
    <body>
        <h1>
            I am in Index.ejss
        </h1>
        <div>
            <%- Math.random() -%>
        </div>
    </body>
</html>